@inherits LayoutComponentBase

<PageTitle>SWE 4663 Team Project</PageTitle>
<RadzenDialog />
<RadzenNotification />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        @* <div class="top-row px-4">

        </div> *@

        <article class="content px-4" style="background-color: rgb(216, 216, 216); padding-bottom: 25px;">
            @Body
        </article>
    </main>
</div>
